body {
    margin: 5px;
}

/* 기준이 되는 부모 컨테이너에서 flex(1차원)를 지정해놓고 */
.container {
    display: flex;
    flex-direction: row;
    <!-- flex-direction: column이면 밑으로 한줄로, row는 하나에서(기본값); -->
    border: rgb(212, 91, 206) solid 3px;
    flex-wrap: wrap; /* flex-wrap: nowrap(기본값) */;
    height: 100vh;
    justify-content: space-evenly; /* justify-content: flex-start(기본값) */
    /* 중심축의 90도가 되는 보조축을 기준으로 */
    align-items: flex-start; /* align-items: stretch(기본값) */
	

/* 일괄적으로 특정 위치의 값만 선택할 때 odd, even */
.item:nth-child(even) {
    border: black dashed;
}

/* 필요한 경우 order라는 속성으로 자식 요소의 순서를 제어할 수 있습니다 */
#item4 {
    flex-basis: 30%; /* 특정 아이템이 차지하는 영여그이 비중을 선택가능*/
    order: -1; /* 다른 값들이 각자 지정된 경우 음수로 지정하면 맨 앞으로 이동가능) */
}
#item5 {
    order: -2; /* 다른 값들이 각자 지정된 경우 양수로 지정하면 맨 뒤로 이동가능) */
}